[submodule "CSIE/三上/OS/hw1"]
	path = CSIE/三上/OS/hw1
	url = git@github.com:auyu0408/OS_kernal_module.git
[submodule "CSIE/三上/OS/hw2"]
	path = CSIE/三上/OS/hw2
	url = git@github.com:auyu0408/simple-kvstore.git
[submodule "CSIE/二上/data_structure/2020"]
	path = CSIE/二上/data_structure/2020
	url = git@github.com:auyu0408/DS.git
[submodule "CSIE/一上/PD1"]
	path = CSIE/一上/PD1
	url = git@github.com:auyu0408/PD.git
[submodule "CSIE/三上/MPI/hw4"]
	path = CSIE/三上/MPI/hw4
	url = git@github.com:auyu0408/MPI_hw4.git
[submodule "CSIE/三上/OS/hw3"]
	path = CSIE/三上/OS/hw3
	url = git@github.com:auyu0408/ThreadScheduling.git
[submodule "CSIE/三上/OS/hw4"]
	path = CSIE/三上/OS/hw4
	url = git@github.com:auyu0408/MemoryManager.git
